{
    auto_https off
}

:8818 {
    log {
        output stdout
    }

    @gobi {
        host gobi-gwd-page.techstruction.co
    }
    handle @gobi {
        header X-Caddy-Debug "GOBI"
        reverse_proxy openbrain_openclaw:18789 {
            header_up X-Forwarded-Proto https
            header_up X-Forwarded-Host {host}
        }
    }

}
